@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
*{
  background-color: #f4f2e9;
  color: #382110;

}
.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: #f4f2e9;
  align-items: center;
}
h1{
  font-weight: 400;
  font-size: 2.5rem;
  margin:  3rem 0rem 1rem 0rem;
}
h1 span{
  font-weight: lighter;
  margin: 0;
}
.list-books{
  list-style: none;
  margin: 2rem auto;
  border: 1px solid #B38B22;
  padding: 1.5rem 1.5rem;
  border-radius: 0.3rem;
  width: 50vw;
}
ul{
  padding-inline-start: 0;
}

.btn{
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #f5d47a;
  color:#3f310b;
  border: 1px solid #F8312F;
  border-radius: 0.2rem;
}

.name-book{
  text-align: left;
  font-size: 1.5rem;
  color: #382110;
  margin: 0;
}
.rating-book{
  text-align: left;
  color: #382110;
  margin: 0;
  padding: 0;
  margin-top: 0.8rem;
}
.rating-book em{
  margin: 0;
  
}
.desc-book{
  text-align: left;
  color: #382110;
  margin: auto;
}
hr{
  width: 70%;
  color: #f5d47a;
}